# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Data and generated outputs
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep

# Model weights and local tooling
*.pt
*.pth
tools/ffmpeg/
tools/ffmpeg/*
tools/*.tar

# OS files
.DS_Store
Thumbs.db

openh264-1.8.0-win64.dll
